// FULL SIZED
.sized {
  width: 100%;
  max-height: 1200px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

// BOXES
.sized .box01 {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.sized .box02 {
  width: calc(100% / 2);
  float: left;
  box-sizing: border-box;
}

.sized .box03 {
  width: calc(100% / 3);
  float: left;
  box-sizing: border-box;
}

.sized .box04 {
  width: calc(100% / 4);
  float: left;
  box-sizing: border-box;
}

.sized .box05 {
  width: calc(100% / 5);
  float: left;
  box-sizing: border-box;
}

.sized .box06 {
  width: calc(100% / 6);
  float: left;
  box-sizing: border-box;
}

.sized .box07 {
  width: calc(100% / 7);
  float: left;
  box-sizing: border-box;
}

.sized .box08 {
  width: calc(100% / 8);
  float: left;
  box-sizing: border-box;
}

// INTERNAL BOXES
.sized .boxLeft {
  float: left;
  box-sizing: border-box;
}

.sized .boxRight {
  float: right;
  box-sizing: border-box;
}
